<a href="/">
<div id="home-logo">
<svg width="64" height="64">
  <g transform="translate(2,2)">
    <rect x="0" y="0" width="60" height="60" fill="none" stroke="black" stroke-width="2" />
    <rect x="4" y="12" width="24" height="12" fill="black" stroke="none" />
    <rect x="4" y="36" width="24" height="12" fill="black" stroke="none" />
    <rect x="32" y="36" width="24" height="12" fill="black" stroke="none" />
    <circle cx="38" cy="18" r="5.4" fill="red" stroke="none" opacity="0">
      <animate attributeName="opacity" from="0" to="1" dur="0.1s" begin="0.5" repeatCount="1" fill="freeze" />
      <animate attributeName="opacity" from="1" to="0" dur="0.1s" begin="1" repeatCount="1" fill="freeze" />
      <animate attributeName="opacity" from="0" to="1" dur="0.1s" begin="1.5" repeatCount="1" fill="freeze" />
      <animate attributeName="fill" from="red" to="black" dur="0.1s" begin="2.5" repeatCount="1" fill="freeze" />
    </circle>
    <circle cx="50" cy="18" r="5.4" fill="red" stroke="none" opacity="0">
      <animate attributeName="opacity" from="0" to="1" dur="0.1s" begin="1" repeatCount="1" fill="freeze" />
      <animate attributeName="opacity" from="1" to="0" dur="0.1s" begin="1.5" repeatCount="1" fill="freeze" />
      <animate attributeName="opacity" from="0" to="1" dur="0.1s" begin="2" repeatCount="1" fill="freeze" />
      <animate attributeName="fill" from="red" to="black" dur="0.1s" begin="2" repeatCount="1" fill="freeze" />
    </circle>
  </g>
</svg>
    <img src="/logo.png" width="0" height="0" style="position: absolute; opacity: 0;" />
  </div>
</a>
