<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta name="title" content="Digital Message | {{ page.title }}" />
<meta name="description" content="Learn + Research + Develop" />
<meta name="twitter:card" content="Digital Message | {{ page.title }}" />
<meta name="twitter:site" content="@flickr" />
<meta name="twitter:title" content="Digital Message | {{ page.title }}" />
<meta name="twitter:description" content="Learn + Research + Develop" />
<meta name="twitter:image" content="https://www.digital-message.com/logo.png" />
<link rel="image_src" href="https://www.digital-message.com/logo.png" />
