<style>
  * {font-family:Copperplate,"Copperplate Gothic Light",fantasy;text-decoration:none;}
  body {margin:0;padding:0;}
  a:link {color:black;}
  a:visited {color:black;}
  a:hover {color:black;}
  a:active {color:black;}
  #nav {margin:8px;width:100% height:70px;}
  #nav span {font-size:20px;}
  #home-logo {width:64px;height:64px;border:1px solid;margin:auto;text-decoration:none;display:inline-block;} 
  #home-logo div.bar{width:24px;height:10px;background:black;margin-top:10px;margin-left:4px;display:inline-block;}
  #home-logo div.dot{width:10px;height:10px;border-radius:10px;background:black;margin-top:15px;margin-left:4px;margin-right:-4px;display:inline-block;}
  #footer { margin-left:8px;margin-top:40px;}
</style>
