<!DOCTYPE HTML>
<html>
  <head>
    {% include meta.html %}
    {% include icon.html %}
    {% include style.html %}
<style>
    body{padding:0;margin:0}
    #canvas{position:absolute;width:100%;height:25%;top:0;border-bottom:1px solid #CCC;}
    #output{position:absolute;width:100%;height:50%;top:30%;overflow:scroll;border-bottom:1px solid #CCC;}
    #input{position:absolute;width:100%;height:20%;bottom:0;}
</style>
</head>
<body>
<div id="canvas">
{% include logo_svg.html %}
</div>
<div id="output"></div>
<div id="input"></div>
</body>
{{ content }}
</html>
