<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    {% include meta.html %}
    {% include icon.html %}
    <style> 
      body{padding:0;margin:0}
      #canvas{position:absolute;width:100%;height:35%;top:0;border-bottom:1px solid #CCC;}
      #output{position:absolute;width:100%;height:40%;top:40%;overflow:scroll;border-bottom:1px solid #CCC;}
      #input{position:absolute;width:100%;height:20%;bottom:0;}
</style>
    <title>{{ page.title }} | Digital Message</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
